@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    border-radius: 20px;
}
body, main{
    background-color: hsl(212, 45%, 89%);
}
.qr_code_box{
    background-color: hsl(0, 0%, 100%);
    margin: 40px auto;
    width: 75%;
    padding: 15px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}
.qr_code, h3, p{
    margin-bottom: 10px;
}

/* Mobile View */
@media only screen and (min-width: 375px){
    h3{
        font-size: 25px;
    }
    p{
        font-size: 17.5px;
    }
    h3{
        margin-bottom: 30px;
    }
}

/* Tablet View */
@media only screen and (min-width: 768px){
    .qr_code_box{
        width: 50%;
        margin-top: 160px;
    }
    h3{
        font-size: 27.5px;
    }
    p{
        font-size: 20px;
    }
}

/* Desktop View */
@media only screen and (min-width: 1280px){
    .qr_code_box{
        width: 27.5%;
        margin-top: 40px;
    }
    p{
        font-size: 20px;
    }
}